 .square { 
    position: relative; 
    width: 873px; 
    height: 235px; 
    } 

.square .group { 
    position: relative;
     top: 0px; 
     left: 0px; 
     width: 873px; 
     height: 235px; 
    } 
.square .rectangle { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 900px; 
    height: 260px; 
    background-color: #9fb86c; 
    border-radius: 10px; 
    } 
    
.square .profile-info { 
        position: absolute; 
        top: 21px; 
        left: 242px; 
        width: 649px; 
        height: 203px; 
    } 

    .square .div { 
        position: absolute;
        top: 106px;
        left: 0;
        width: 236px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 17px;
        letter-spacing: 0;
        line-height: normal;
}
.square .p { 
        position: absolute; 
            top: 29px;
            left: 0;
            width: 224px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            font-size: 15px;
            letter-spacing: 0;
            line-height: normal;
            background-color: #ffffff;
            border-radius: 10px;
 }
.square .text-wrapper { 
        position: absolute;
            top: 0;
            left: 0;
            width: 150px;
            font-family: "Inter-Bold", Helvetica;
            font-weight: 700; 
            color: #000000; 
            font-size: 24px; 
            letter-spacing: 0; 
            line-height: normal; 
            white-space: nowrap; 
        }


.square .text-wrapper-2 {
    position: absolute;
    top: 126px;
    left: 1px;
    width: 224px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    background-color: #ffffff;
    border-radius: 10px;
}

.square .text-wrapper-3 {
    position: absolute;
    top: 40px;
    left: 247px;
    width: 224px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
}



.square .text-wrapper-4 {
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
}

.square .text-wrapper-5 {
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 10px;
}

.square .text-wrapper-6 {
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 10px;
}

.square .contact-gmail {
    position: absolute;
    top: 178px;
    left: 0;
    width: 236px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
}

.square .span {
    font-weight: 700;
    color: #000000;
}

.square .current-employment {
    position: absolute;
    top: 0px;
    left: 247px;
    width: 384px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
}



.square .connections {
    position: absolute;
    top: 106px;
    left: 247px;
    width: 224px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
}

.square .followers {
    position: absolute;
    top: 178px;
    left: 247px;
    width: 224px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
}

.square .profileicon {
    position: absolute;
    top: 10px;
    left: -230px;
    width: 200px;
    height: 200px;
    display: flex;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 100px;
}



.square .meunbar1 {
    position: absolute;
    top: 14px;
    left: 13px;
    width: 47px;
    height: 36px;
}

.square .menubar2 { 
        top: -20px; 
        position: absolute; 
        left: 20px; 
        width: 8px; 
        height: 47px; 
        background-color: #ffffff; 
        border-radius: 890px; 
        transform: rotate(-90deg); 
        opacity: 0.5; 
    } 


.square .menubar3 { 
        top: -6px; 
        position: absolute; 
        left: 20px; 
        width: 8px; 
        height: 47px; 
        background-color: #ffffff; 
        border-radius: 890px;
         transform: rotate(-90deg); 
         opacity: 0.5; }


.square .menubar4 { 
        top: 8px; 
        position: absolute; 
        left: 20px; 
        width: 8px; 
        height: 47px; 
        background-color: #ffffff; 
        border-radius: 890px; 
        transform: rotate(-90deg); 
        opacity: 0.5; 
    }

.square .jobrecommendation {
    top: 3px;
    position: absolute;
    left: 0px;
    width: 900px;
    height: 275px;
    background-color: #9fb86c;
    border-radius: 10px;


}

.square .jobrecommendation2 {
    top: 290px;
    position: absolute;
    left: 0px;
    width: 900px;
    height: 275px;
    background-color: #9fb86c;
    border-radius: 10px;


}

.square .jobrecommendation3 {
    top: 575px;
    position: absolute;
    left: 0px;
    width: 900px;
    height: 275px;
    background-color: #9fb86c;
    border-radius: 10px;


}

.square .jobrecommendation4 {
    top: 860px;
    position: absolute;
    left: 0px;
    width: 900px;
    height: 275px;
    background-color: #9fb86c;
    border-radius: 10px;


}

.square .scroll-bar {
    top: 0px;
    left: 950px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 900px; 
    height: 1075px; 
    padding: 10px;
   


}




.square .aboutme { 
        position: absolute;
        top: 230px;
        left: -240px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #000000; 
        font-size: 24px; 
        letter-spacing: 0; 
        line-height: normal; 
        white-space: nowrap; 
}

.square .aboutmesection { 
        position: absolute;
        top: 280px;
        left: -240px;
        width: 900px;
        height: 300px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #000000; 
        font-size: 24px; 
        letter-spacing: 0; 
        line-height: normal; 
        overflow-wrap: break-word;
        white-space: pre-wrap;
        word-wrap: break-word;
        border-radius: 10px;
}

.square .experience{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #9fb86c;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    


}

.square .scroll-bar2 {
    top: 800px;
    left: 100x;
    overflow-y: hidden;
    overflow-x: scroll;
    position: absolute;
    width: 900px; 
    height: 300px; 
    padding: 10px;
    border: #000000;
    

}

.square .resume{
    position: absolute;
    top: 630px;
    left: -240px;
    background-color: #9fb86c;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border-color: #9fb86c;


}

.square .resumepdf{
    position: absolute;
    top: 650px;
    left: -165px;
   font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 21px; 


}


.square .uploadresume { 
        position: absolute;
        top: 575px;
        left: -240px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #000000; 
        font-size: 24px; 
        letter-spacing: 0; 
        line-height: normal; 
        white-space: nowrap; 
}

.square .addverticle {
        top: 90px; 
        position: absolute; 
        left: 450px; 
        width: 20px; 
        height: 80px; 
        background-color: #4b4b4b; 
        border-radius: 890px; 
        transform: rotate(-90deg); 
         


}


.square .addhorizontal {
        top: 90px; 
        position: absolute; 
        left: 450px; 
        width: 20px; 
        height: 80px; 
        background-color: #4b4b4b; 
        border-radius: 890px; 
        transform: rotate(0deg); 
         

    
}

.square .experiencesection { 
        position: absolute;
        top: 720px;
        left: -240px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #000000; 
        font-size: 24px; 
        letter-spacing: 0; 
        line-height: normal; 
        white-space: nowrap; 
}


.square .line1 { 
        position: absolute;
        top: 215px;
        left: -120px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #434343; 
        font-size: 24px; 
        letter-spacing: 0;
        opacity: 0.5;
}


.square .line2 { 
        position: absolute;
        top: 565px;
        left: -120px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #434343; 
        font-size: 24px; 
        letter-spacing: 0;
        opacity: 0.5;
}

.square .line3 { 
        position: absolute;
        top: 715px;
        left: -130px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #434343; 
        font-size: 24px; 
        letter-spacing: 0;
        opacity: 0.5;
}

.square .line4 { 
        position: absolute;
        top: 10px;
        left: 0px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #ffffff; 
        font-size: 24px; 
        letter-spacing: 0;
        opacity: 0.5;
}

.square .line5 { 
        position: absolute;
        top: 300px;
        left: 0px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #ffffff; 
        font-size: 24px; 
        letter-spacing: 0;
        opacity: 0.5;
}

.square .line6 { 
        position: absolute;
        top: 585px;
        left: 0px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #ffffff; 
        font-size: 24px; 
        letter-spacing: 0;
        opacity: 0.5;
}

.square .line7 { 
        position: absolute;
        top: 870px;
        left: 0px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #ffffff; 
        font-size: 24px; 
        letter-spacing: 0;
        opacity: 0.5;
}

.square .jobrec5 { 
        position: absolute;
        top: 852px;
        left: 10px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #ffffff; 
        font-size: 24px; 
        letter-spacing: 0; 
        line-height: normal; 
        white-space: nowrap; 
}

.square .jobrec6 { 
        position: absolute;
        top: 568px;
        left: 10px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #ffffff; 
        font-size: 24px; 
        letter-spacing: 0; 
        line-height: normal; 
        white-space: nowrap; 
}

.square .jobrec7 { 
        position: absolute;
        top: 283px;
        left: 10px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #ffffff; 
        font-size: 24px; 
        letter-spacing: 0; 
        line-height: normal; 
        white-space: nowrap; 
}

.square .jobrec8 { 
        position: absolute;
        top: -7px;
        left: 10px;
        width: 150px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700; 
        color: #ffffff; 
        font-size: 24px; 
        letter-spacing: 0; 
        line-height: normal; 
        white-space: nowrap; 
}


.square .metaicon {
    position: absolute;
    top: 920px;
    left: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 100px;
}


.square .appleicon {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 100px;
}


.square .googleicon {
    position: absolute;
    top: 620px;
    left: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 100px;
}


.square .nvidiaicon {
    position: absolute;
    top: 340px;
    left: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 100px;
}
